﻿@page "/viewactivity"
@inject IAdminMgr _IAdminMgr;
@using NE_Utilities;

<div class="layout-px-spacing">
    <div class="row layout-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12 stock-analysis-top">
                            <h4>View Activity</h4>
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiDelete" title="Delete Activity"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger"
                                        style="position:absolute; top:56px !important">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiDelete" title="Delete Activity"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger"
                                           style="position:absolute; top:56px !important">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">
                    <table id="individual-col-search" class="table style-3" style="width:100%; text-transform:capitalize">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkall" @onclick="@checkboxselectvalueAll" /></th>
                                <th>Image</th>
                                <th>Activity Name</th>
                                <th>Provider</th>
                                <th>Price</th>
                                <th>Most Popular</th>
                                <th>Featured</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (ActivityMasterData list in resObject.ResultData)
                                {
                                    <tr>
                                        <td class="checkbox-column"><input type="checkbox"  @onchange="eventArgs => { checkboxselectvalue(list.activity_master_id.ToString(), eventArgs.Value); }" /> </td>
                                        @if (@list.picture == null)
                                        {
                                            <td><img src="images/profile_img.jpg" style="height:50px" alt="imgAvtar"></td>
                                        }
                                        else
                                        {
                                            <td><img src="images/thumb/@list.picture" style="height:50px" alt="imgAvtar"></td>
                                        }
                                        <td>@list.title</td>
                                        <td>@list.providername</td>
                                        <td><spa>$</spa>@list.price</td>
                                        @if (@list.most_popular == true)
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.most_popular,"activepopular"))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                        }
                                        else
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.most_popular,"activepopular"))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                        }
                                        @if (@list.featured == true)
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.featured,"activefeature"))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                        }
                                        else
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.featured,"activefeature"))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                        }
                                        @if (@list.active == true)
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.active,"activeActivity"))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                        }
                                        else
                                        {
                                            <td><button @onclick="@(()=> editstatus(list.activity_master_id,list.active,"activeActivity"))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                        }
                                        <td class="">
                                            <ul class="table-controls">
                                                <li id="editButton">
                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.activity_master_id.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <a class="editButton" id="cityid" href="/activity/@encrypPass" data-placement="top" title="Edit" data-original-title="Edit">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                             stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a @onclick="@(() => delete(list.activity_master_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                       data-original-title="Delete">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                             stroke-linecap="round" stroke-linejoin="round"
                                                             class="feather feather-trash p-1 br-6 mb-1">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    LogIn _LogIn;
    ResultObject<List<ActivityMasterData>> resObject;
    ActivityMasterData _resValue;
    List<ActivitIncludeData> _resInclude;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _resValue = new ActivityMasterData();
        resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindActivitydtexcel", "individual-col-search", false, 2, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Activity" });
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityMaster("deleteactivityMaster", id, _resValue);
            _resValue = new ActivityMasterData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "individual-col-search");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
            }
            StateHasChanged();
        }
    }

    void editstatus(int id, bool status, string reqtype)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        if (reqtype == "activepopular")
        {
            res1 = res1 = _LogIn.editacitvityMaster(reqtype, id.ToString(), _resValue);
            if (res1.ResultMessage == "Success")
            {
                res1.ResultMessage = "Popular";
                resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res1.ResultMessage + " Status updated successfully");
                JSRuntime.InvokeVoidAsync("BindActivitydtexcel", "individual-col-search", false, 2, "ASC");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        else if (reqtype == "activefeature")
        {
            res1 = res1 = _LogIn.editacitvityMaster(reqtype, id.ToString(), _resValue);
            if (res1.ResultMessage == "Success")
            {
                res1.ResultMessage = "Feature";
                resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res1.ResultMessage + " Status updated successfully");
                JSRuntime.InvokeVoidAsync("BindActivitydtexcel", "individual-col-search", false, 2, "ASC");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        else if (reqtype == "activeActivity")
        {
            if (status == false)
            {
                _resValue = resObject.ResultData.Where(x => x.activity_master_id == id).FirstOrDefault();
                ResultObject<List<CityMasterData>> resCity = _LogIn.cityMasterId("viewCityId", _resValue.city_id.ToString());
                ResultObject<List<ActivityProviderData>> resProv = _LogIn.acitvityProvider("viewactivityProviderbyid", _resValue.activity_provider_id.ToString());
                bool providerAct = resProv.ResultData.Select(x => x.active).FirstOrDefault();
                bool cityAct = resCity.ResultData.Select(x => x.active).FirstOrDefault();
                if ((providerAct == false) && (cityAct == false))
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please assign active city/provider to activate the activity");
                }
                else if (providerAct == false)
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please assign active provider to activate the activity");
                }
                else if (cityAct == false)
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please assign active city to activate the activity");
                }
                else
                {
                    res1 = res1 = _LogIn.editacitvityMaster(reqtype, id.ToString(), _resValue);
                    _resValue = new ActivityMasterData();
                    resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                    if (res1.ResultMessage == "Success")
                    {
                        res1.ResultMessage = "Activtiy";
                        JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res1.ResultMessage + " Status updated successfully");
                        JSRuntime.InvokeVoidAsync("BindActivitydtexcel", "individual-col-search", false, 2, "ASC");
                    }
                    else
                    {
                        JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
                    }

                }
            }
            else
            {
                res1 = res1 = _LogIn.editacitvityMaster(reqtype, id.ToString(), _resValue);
                resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                if (res1.ResultMessage == "Success")
                {
                    res1.ResultMessage = "Activtiy";
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res1.ResultMessage + " Status updated successfully");
                    JSRuntime.InvokeVoidAsync("BindActivitydtexcel", "individual-col-search", false, 2, "ASC");
                }
                else
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
                }
            }

        }
    }



    void checkboxselectvalue(string id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            ckvalue += "," + id;
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("getcheckUncheckAll");
            ckvalue = ckvalue.Replace("," + id, string.Empty);
        }
        checkbox = true;
        if (ckvalue == "")
        {
            checkbox = false;
        }
    }

    void checkboxselectvalueAll()
    {
        JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "individual-col-search", checkbox);
        if (checkbox == false)
        {
            foreach (ActivityMasterData cd in resObject.ResultData)
            {
                ckvalue += "," + cd.activity_master_id;
            }
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
            checkbox = true;
        }
        else
        {
            ckvalue = "";
            checkbox = false;
        }
    }

    async void multiDelete()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityMaster("actdeletemultiple", ckvalue, _resValue);
            _resValue = new ActivityMasterData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _LogIn.acitvityMaster("viewactivityMaster", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "individual-col-search");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "individual-col-search", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }

}