﻿@page "/activity/"
@page "/activity/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NearByExperiences.FileUpload.IFileUploadData fileUpload;
@using Microsoft.AspNetCore.Components.Web;
@inject NavigationManager navigationmanager;
@using NE_Utilities;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Edit Activity</h4>
                        }
                        else
                        {
                            <h4>Add Activity</h4>
                        }

                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Activity Name<span class="astick">*</span></label>
                                <input maxlength="1000" @bind-value="@model.title" type="text" class="form-control" id="sname" placeholder="Activity Name" />
                                <ValidationMessage For="@(() => model.title)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Price<span class="astick">*</span></label>
                                <input @bind-value="@model.price" maxlength="12" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="sname" placeholder="Price" />
                                <ValidationMessage For="@(() => model.price)" />
                            </div>

                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Location<span class="astick">*</span></label>
                                <input maxlength="1000" @bind="@model.location" type="text" class="form-control" id="sname" placeholder="Location" />
                                <ValidationMessage For="@(() => model.location)" />
                            </div>

                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Activity Provider<span class="astick">*</span></label>
                                <select @bind="model.activity_provider_id" class="form-control" id="activity1" data-live-search="true">
                                    <option value="0">Select</option>
                                    @if (resObject.ResultData.Count > 0)
                                    {
                                        foreach (var applist in resProv.ResultData.OrderBy(x => x.email))
                                        {
                                            var varActive = applist.active;
                                            string email = "";
                                            if (varActive == false)
                                            {
                                                email = applist.first_name + "(" + applist.email + " Inactive)";
                                            }
                                            else
                                            {
                                                email = applist.first_name + "(" + applist.email + ")";
                                            }
                                            if (applist.activity_provider_id == dropdownDynamic1)
                                            {
                                                <option selected value="@applist.activity_provider_id">@email</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.activity_provider_id">@email</option>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        foreach (var applist in resProv.ResultData.Where(x => x.active == true).OrderBy(x => x.email))
                                        {
                                            string email = applist.first_name + "(" + applist.email + ")";
                                            if (applist.activity_provider_id == dropdownDynamic1)
                                            {
                                                <option selected value="@applist.activity_provider_id">@email</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.activity_provider_id">@email</option>
                                            }
                                        }
                                    }

                                </select>
                                <ValidationMessage For="@(() => model.activity_provider_id)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Tag<span class="astick">*</span></label>
                                <select @bind="model.tag_id" class="form-control" id="tag" data-live-search="true">
                                    <option value="0">Select</option>
                                    @if (resObject.ResultData.Count > 0)
                                    {
                                        foreach (var applist in resTag.ResultData.OrderBy(x => x.tags_name))
                                        {
                                            string tag = "";
                                            var varActiveTag = applist.active;
                                            if (varActiveTag == false)
                                            {
                                                tag = applist.tags_name + " (Inactive)";
                                            }
                                            else
                                            {
                                                tag = applist.tags_name;
                                            }

                                            if (applist.tag_id == dropdownDynamic2)
                                            {
                                                <option selected value="@applist.tag_id">@tag</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.tag_id">@tag</option>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        @foreach (var applist in resTag.ResultData.Where(x => x.active == true).OrderBy(x => x.tags_name))
                                        {
                                            if (applist.tag_id == dropdownDynamic2)
                                            {
                                                <option selected value="@applist.tag_id">@applist.tags_name</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.tag_id">@applist.tags_name</option>
                                            }
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(() => model.tag_id)" />

                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">City<span class="astick">*</span></label>
                                <select @bind="model.city_id" class="form-control" id="city" data-live-search="true">
                                    <option value="0">Select</option>
                                    @if (resObject.ResultData.Count > 0)
                                    {
                                        @foreach (var applist in resCity.ResultData.OrderBy(x => x.city_name))
                                        {
                                            string city = "";
                                            var varActiveCity = applist.active;
                                            if (varActiveCity == false)
                                            {
                                                city = applist.city_name + " (Inactive)";
                                            }
                                            else
                                            {
                                                city = applist.city_name;
                                            }

                                            if (applist.city_id == dropdownDynamic3)
                                            {
                                                <option selected value="@applist.city_id">@city</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.city_id">@city</option>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        @foreach (var applist in resCity.ResultData.Where(x => x.active == true).OrderBy(x => x.city_name))
                                        {

                                            if (applist.city_id == dropdownDynamic3)
                                            {
                                                <option selected value="@applist.city_id">@applist.city_name</option>
                                            }
                                            else
                                            {
                                                <option value="@applist.city_id">@applist.city_name</option>
                                            }
                                        }

                                    }
                                </select>
                                <ValidationMessage For="@(() => model.city_id)" />
                            </div>



                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Short Description<span class="astick">*</span></label>
                                <input maxlength="1000" @bind="@model.short_description" type="text" class="form-control" id="sname" placeholder="Short Description" />
                                <ValidationMessage For="@(() => model.short_description)" />
                            </div>
                            <div class="form-group mb-4 col-lg-2">
                                <label for="cname">Most Popular</label>
                                <input checked="@(model.most_popular == true)" @onchange="eventArgs => { popularck(eventArgs.Value); }" type="checkbox" id="toggle-one">
                            </div>
                            <div class="form-group mb-4 col-lg-2">
                                <label for="cname">Featured</label>
                                <input checked="@(model.featured == true)" @onchange="eventArgs => { featureck(eventArgs.Value); }" type="checkbox" id="toggle-one">
                            </div>
                            <div class="form-group mb-4 col-lg-2">
                                <label for="cname">Widget Type Smeetz</label>
                                <input checked="@(model.widget_type == 1)" @onchange="@(() => model.widget_type = 1)" type="radio" id="toggle-one">
                                <ValidationMessage For="@(() => model.widget_type)" />
                            </div>
                            <div class="form-group mb-4 col-lg-2">
                                <label for="cname">Widget Type Trekksoft</label>
                                <input checked="@(model.widget_type == 2)" @onchange="@(() => model.widget_type = 2)" type="radio" id="toggle-one">
                          </div>


                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Widget Code<span class="astick">*</span></label>
                                <textarea rows="5" maxlength="2001" @bind="@model.widget_code" type="text" class="form-control" id="sname" placeholder="Widget Code" />
                                <ValidationMessage For="@(() => model.widget_code)" />
                            </div>

                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Donation</label>
                                <textarea  rows="5" maxlength="500" @bind="@model.donation" type="text" class="form-control" id="Donation" placeholder="Donation" />
                            </div>

                            <div class="layout-spacing col-lg-12">
                                <label for="editor">Description<span class="astick">*</span></label>
                                <textarea @bind="@model.description" name="shortdescription"></textarea>
                            </div>
                            <div class="layout-spacing col-lg-12">
                                <label for="editorBasic">Highlight</label>
                                <textarea @bind="model.highlight" name="fulldescription"></textarea>
                            </div>

                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Title<span class="astick">*</span></label>
                                <input maxlength="1000" @bind="@model.metatitle" type="text" class="form-control" id="sname" placeholder="Meta Title" />
                                <ValidationMessage For="@(() => model.metatitle)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Keywords</label>
                                <input maxlength="1000" @bind="@model.metakeywords" type="text" class="form-control" id="sname" placeholder="Meta Keywords" />
                                <ValidationMessage For="@(() => model.metakeywords)" />
                            </div>

                            <div class="form-group mb-4 col-lg-4">
                                <label for="ccc">Image<span class="astick">*</span></label>
                                <InputFile OnChange="HandleFileSelected" />
                                @if (model.picture != null)
                                {
                                    <img src="images/@model.picture" style="height:80px; margin-top:5px;" alt="imgAvtar" />
                                }
                                <label for="ccc">@model.picture</label>
                                <ValidationMessage For="@(() => model.picture)" />
                            </div>

                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">Meta Description</label>
                                <textarea maxlength="1000" rows="5" cols="50" @bind="@model.metadescription" type="text" class="form-control" id="sname" placeholder="Meta Description" />
                                <ValidationMessage For="@(() => model.metadescription)" />
                            </div>
                            @{
                                int i = 0;
                                foreach (ActivitIncludeData ac in model1)
                                {
                                    model1[i].incid = i;
                                    <div class="form-group mb-4 col-lg-2">
                                        <label for="cname">Included</label>
                                        <input checked="@(ac.active == true)" @onchange="eventArgs => { rightinclude( ac.incid,eventArgs.Value); }" type="checkbox" id="toggle-one">
                                    </div>
                                    <div class="form-group mb-4 col-lg-6">
                                        <label for="cname">What's Included</label>
                                        <input @bind="@ac.include_desc" type="text" maxlength="1000" class="form-control" id="sname" placeholder="What's Included" />
                                        <ValidationMessage For="@(() => ac.include_desc)" />
                                    </div>
                                    @if (model1[i].incid == 0)
                                    {
                                        <div class="form-group mb-4 col-lg-4">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group mb-4 col-lg-4">
                                            <button type="button" @onclick="@(()=>fibonBtnRemove(ac.incid) )" title="Remove Include" style="margin-top:30px;" class="btn btn-icon btn-default btn-outline dt-delete text-danger"><i class="fa fa-trash"></i></button>
                                        </div>
                                    }
                                    i++;
                                }
                            }
                            <div class="form-group mb-4 col-lg-12">
                                <button type="button" @onclick="fibonBtnAdd" title="Add Include" class="btn btn-floating btn-primary float-right btn-sm mt-1"><i class="fa fa-plus"></i></button>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@if (imgpanel)
{
    <CropImage imgpath="@model.picture" OnCancel="OnCancel" OnConfirm="btnCrop_Click" />
}

@code
{
    [Parameter] public string param { get; set; }

    LogIn _LogIn;
    ActivityMasterData model;

    ResultObject<List<ActivityMasterData>> resObject;

    List<ActivitIncludeData> model1;

    ResultObject<List<ActivityProviderData>> resProv;
    ResultObject<List<CityMasterData>> resCity;
    ResultObject<List<TagsMasterData>> resTag;

    public int dropdownDynamic1 { get; set; }
    public int dropdownDynamic2 { get; set; }
    public int dropdownDynamic3 { get; set; }

    bool imgpanel = false;

    bool imgloader = true;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        resProv = _LogIn.acitvityProvider("viewactivityProvider", "");
        resCity = _LogIn.cityMaster();
        resTag = _LogIn.tagMaster();
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }


        resObject = _LogIn.acitvityMaster("viewactivityMasterbyid", param);
        model = new ActivityMasterData();
        //if (param != null)
        if (resObject.ResultData.Count > 0)
        {
            model = resObject.ResultData.FirstOrDefault();
            dropdownDynamic1 = Convert.ToInt32(model.activity_provider_id);
            dropdownDynamic2 = Convert.ToInt32(model.tag_id);
            dropdownDynamic3 = Convert.ToInt32(model.city_id);
            model1 = _LogIn.activityInclude(param).ResultData;
        }
        else
        {
            model1 = new List<ActivitIncludeData>();
        }
        if (model1.Count == 0)
        {
            model1.Add(new ActivitIncludeData()
            {
                include_desc = ""
            });
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSBindingMultiSelectComp1", "activity1", dropdownDynamic1);
            JSRuntime.InvokeVoidAsync("CSBindingMultiSelectComp1", "tag", dropdownDynamic2);
            JSRuntime.InvokeVoidAsync("CSBindingMultiSelectComp1", "city", dropdownDynamic3);
            JSRuntime.InvokeVoidAsync("CSBindTermsCkeditor");
        }
        if (resObject.ResultData.Count > 0)
        {
            JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Edit Activity" });
        }
        else
        {
            JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Add Activity" });
        }
        if (imgloader)
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
    }


    void featureck(object checkedValue)
    {
        if ((bool)checkedValue)
        { model.featured = true; }
        else
        { model.featured = false; }
    }

    void popularck(object checkedValue)
    {
        if ((bool)checkedValue)
        { model.most_popular = true; }
        else
        { model.most_popular = false; }
    }

    void rightinclude(int id, object checkedValue)
    {
        if ((bool)checkedValue)
        { model1[id].active = true; }
        else
        { model1[id].active = false; }
    }

    public void fibonBtnAdd()
    {
        model1.Add(new ActivitIncludeData()
        {
            include_desc = ""
        });
    }

    public void fibonBtnRemove(int i)
    {
        if (model1.Count > 1)
        {
            model1.RemoveAt(i);
        }
    }


    async void OnConfirm()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        string description = await JSRuntime.InvokeAsync<string>("getShortDescEditor");
        string highlight = await JSRuntime.InvokeAsync<string>("getDescEditor");
        model.description = description;
        model.highlight = highlight;
        bool providerAct = resProv.ResultData.Where(x => x.activity_provider_id == model.activity_provider_id).Select(x => x.active).FirstOrDefault();
        bool cityAct = resCity.ResultData.Where(x => x.city_id == model.city_id).Select(x => x.active).FirstOrDefault();
        bool tagAct = resTag.ResultData.Where(x => x.tag_id == model.tag_id).Select(x => x.active).FirstOrDefault();
        if (model.description == null || model.description == "")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Description Field");
        }
        else if ((providerAct == false) || (cityAct == false) || (tagAct == false))
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Select  Active Value");
        }
        else
        {
            if (model1.Count > 0)
            {
                var count = model1.Count;
                for (var i = count - 1; i > -1; i--)
                {
                    model1[i].activity_master_id = model.activity_master_id;
                    if (model1[i].active == null)
                    {
                        model1[i].active = false;
                    }
                    if (model1[i].include_desc == string.Empty) model1.RemoveAt(i);
                }
            }
            model.slug_url = NE_Utilities.Slugify.Slugify1(model.title);
            res1 = _LogIn.editacitvityMasterWithIncludeList("updateactivityMasterInclude", "", model, model1);
            if (res1.ResultMessage == "Success")
            {
                //if (param != null)
                if (resObject.ResultData.Count > 0)
                {
                    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity updated successfully.");
                    resObject = _LogIn.acitvityMaster("viewactivityMasterbyid", param);
                    model = resObject.ResultData.FirstOrDefault();
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity added successfully.");
                    resObject = new ResultObject<List<ActivityMasterData>>();
                    model = new ActivityMasterData();
                    model1 = new List<ActivitIncludeData>();
                }
                resObject = _LogIn.acitvityMaster("viewactivityMasterbyid", param);
                //StateHasChanged();
                navigationmanager.NavigateTo("viewactivity");

            }
            else if (res1.ResultMessage == "Activity Master Title Already Exists")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Activity name already exists");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
                model = new ActivityMasterData();
                model1 = new List<ActivitIncludeData>();
                StateHasChanged();
            }
        }

    }

    protected void HandleInvalidSubmit()
    {
        JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Mandatory Field");
    }


    void OnCancel()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");
        imgpanel = false;
    }

    string imgpath = "";
    IFileListEntry file;
    async Task HandleFileSelected(IFileListEntry[] files)
    {
        imgpanel = false;
        imgloader = false;
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        file = files.FirstOrDefault();
        if (file != null)
        {

            if (file.Type.Contains("image"))
            {
                string a = await fileUpload.UploadAsyncActivity(file);
                if (a == "1")
                {

                    model.picture = file.Name;
                    imgpath = file.Name;
                    imgpanel = true;
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Alert", "Image dimension should be greater than equal 600X600");
                    await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
                }

            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Please Upload Image File");
            }
        }
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    @using System;
    @using System.Drawing;
    @using System.IO;
    @using SD = System.Drawing;
    public string filePath = "";
    string cropFileName = "";
    string cropFilePath = "";

    void btnCrop_Click()
    {
        string startupPath = System.IO.Directory.GetCurrentDirectory();
        filePath = Path.Combine(startupPath, "wwwroot\\images", imgpath);
        if (File.Exists(filePath))
        {
            GetCropVal(filePath);

        }
    }

    @using System.Drawing.Drawing2D;
    @using System.Drawing.Imaging;


    async void GetCropVal(string filePath)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string range = await JSRuntime.InvokeAsync<string>("selectCropRange");
        System.Drawing.Image orgImg = System.Drawing.Image.FromFile(filePath);
        await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");
        string[] res = range.Split(",");
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        Rectangle CropArea = new Rectangle(Convert.ToInt32(res[0]), Convert.ToInt32(res[1]), Convert.ToInt32(res[2]), Convert.ToInt32(res[3]));
        try
        {

            DateTime now = DateTime.Now;
            Bitmap bitMap = new Bitmap(CropArea.Width, CropArea.Height, orgImg.PixelFormat);
            float fRatio = 1;
            int nWidth = orgImg.Width;
            int nHeight = orgImg.Height;

            //create the thumbnail ans set it’s settings
            // Image oThumbnail = new Bitmap(nWidth, nHeight);

            using (Graphics g = Graphics.FromImage(bitMap))
            {
                g.InterpolationMode = InterpolationMode.HighQualityBicubic;
                g.SmoothingMode = SmoothingMode.HighQuality;
                g.PixelOffsetMode = PixelOffsetMode.HighQuality;
                g.CompositingQuality = CompositingQuality.HighQuality;
                using (var wrapMode = new ImageAttributes())
                {
                    wrapMode.SetWrapMode(WrapMode.TileFlipXY);
                    g.DrawImage(orgImg, new Rectangle(0, 0, bitMap.Width, bitMap.Height), CropArea, GraphicsUnit.Pixel);
                }
                //g.DrawImage(orgImg, new Rectangle(0, 0, bitMap.Width, bitMap.Height), CropArea, GraphicsUnit.Pixel);
            }
            ImageCodecInfo[] iciInfo = ImageCodecInfo.GetImageEncoders();
            EncoderParameters encoderParameters;
            encoderParameters = new EncoderParameters(1);
            encoderParameters.Param[0] = new EncoderParameter(Encoder.Quality, 100L);

            string startupPath = System.IO.Directory.GetCurrentDirectory();
            cropFileName = now.Second.ToString() + imgpath;
            cropFilePath = Path.Combine(startupPath, "wwwroot\\images", cropFileName);

            //string cropFileName1 = now.Second.ToString()+"11" + imgpath;
            //string cropFilePath1 = Path.Combine(startupPath, "wwwroot\\images", cropFileName1);
            bitMap.Save(cropFilePath, orgImg.RawFormat);
            //bitMap.Save(cropFilePath, iciInfo[1], encoderParameters);
            orgImg.Dispose();
            bitMap.Dispose();

            //using (var image = Image.FromFile(cropFilePath))
            //{
            //    // can given width of image as we want
            //    var newWidth = (int)(image.Width);
            //    //var newWidth = (int)(image.Width * scaleFactor);
            //    // can given height of image as we want
            //    //var newHeight = (int)(image.Height * scaleFactor);
            //    var newHeight = (int)(image.Height);
            //    var thumbnailImg = new Bitmap(newWidth, newHeight);
            //    var thumbGraph = Graphics.FromImage(thumbnailImg);
            //    thumbGraph.CompositingQuality = CompositingQuality.HighQuality;
            //    thumbGraph.SmoothingMode = SmoothingMode.HighQuality;
            //    thumbGraph.InterpolationMode = InterpolationMode.HighQualityBicubic;
            //    var imageRectangle = new Rectangle(0, 0, newWidth, newHeight);
            //    thumbGraph.DrawImage(image, imageRectangle);
            //    //image.Dispose();
            //    thumbGraph.Dispose();
            //    thumbnailImg.Save(cropFilePath1, image.RawFormat);
            //    thumbnailImg.Dispose();
            //}


            //System.Drawing.Image orgImg1 = System.Drawing.Image.FromFile(cropFilePath);
            //System.Drawing.Image bmpred = orgImg1.GetThumbnailImage(650, 650, null, IntPtr.Zero);
            //orgImg1.Dispose();
            //File.Delete(Path.Combine(startupPath, "wwwroot\\images", cropFileName));
            //bmpred.Save(cropFilePath);


            string thumpath = Path.Combine(startupPath, "wwwroot\\images\\thumb", cropFileName);

            using (var image = Image.FromFile(cropFilePath))
            {
                double scaleFactor = 0.5;
                var newWidth = (int)(image.Width * scaleFactor);
                var newHeight = (int)(image.Height * scaleFactor);
                //var newWidth = 263;
                //var newHeight = 226;
                var thumbnailImg = new Bitmap(newWidth, newHeight);
                var thumbGraph = Graphics.FromImage(thumbnailImg);
                thumbGraph.CompositingQuality = CompositingQuality.HighQuality;
                thumbGraph.SmoothingMode = SmoothingMode.HighQuality;
                thumbGraph.InterpolationMode = InterpolationMode.HighQualityBicubic;
                var imageRectangle = new Rectangle(0, 0, newWidth, newHeight);
                thumbGraph.DrawImage(image, imageRectangle);
                thumbnailImg.Save(thumpath, image.RawFormat);
                thumbGraph.Dispose();
                thumbnailImg.Dispose();
                image.Dispose();
            }

            //System.Drawing.Image img1 = System.Drawing.Image.FromFile(cropFilePath);
            //System.Drawing.Image bmp1 = img1.GetThumbnailImage(263, 226, null, IntPtr.Zero);
            //bmp1.Save(thumpath);
            //bmp1.Dispose();
            //img1.Dispose();

            imgpanel = false;
            model.picture = cropFileName;
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");
            imgpanel = false;
        }

        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        StateHasChanged();
        imgloader = true;
    }




    async void GetCropVal2(string filePath)
    {

        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string range = await JSRuntime.InvokeAsync<string>("selectCropRange");
        string[] res = range.Split(",");
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        System.Drawing.Image orgImg = System.Drawing.Image.FromFile(filePath);
        Rectangle CropArea = new Rectangle(Convert.ToInt32(res[0]), Convert.ToInt32(res[1]), Convert.ToInt32(res[2]), Convert.ToInt32(res[3]));
        try
        {

            DateTime now = DateTime.Now;
            Bitmap bitMap = new Bitmap(CropArea.Width, CropArea.Height, orgImg.PixelFormat);
            float fRatio = 1;
            int nWidth = orgImg.Width;
            int nHeight = orgImg.Height;

            //create the thumbnail ans set it’s settings
            // Image oThumbnail = new Bitmap(nWidth, nHeight);

            using (Graphics g = Graphics.FromImage(bitMap))
            {
                g.DrawImage(orgImg, new Rectangle(0, 0, bitMap.Width, bitMap.Height), CropArea, GraphicsUnit.Pixel);
                g.InterpolationMode = InterpolationMode.HighQualityBicubic;
                g.SmoothingMode = SmoothingMode.HighQuality;
                g.PixelOffsetMode = PixelOffsetMode.HighQuality;
                g.CompositingQuality = CompositingQuality.HighQuality;
            }
            ImageCodecInfo[] iciInfo = ImageCodecInfo.GetImageEncoders();
            EncoderParameters encoderParameters;
            encoderParameters = new EncoderParameters(1);
            encoderParameters.Param[0] = new EncoderParameter(Encoder.Quality, 100L);

            string startupPath = System.IO.Directory.GetCurrentDirectory();
            cropFileName = now.Second.ToString() + imgpath;
            cropFilePath = Path.Combine(startupPath, "wwwroot\\images", cropFileName);

            bitMap.Save(cropFilePath, iciInfo[1], encoderParameters);

            orgImg.Dispose();

            //GenerateImageThumbnail(System.Drawing.Image.FromFile(cropFilePath), cropFilePath, 800, 800, startupPath, cropFileName);
            //System.Drawing.Image orgImg1 = System.Drawing.Image.FromFile(cropFilePath);
            //System.Drawing.Image bmpred = orgImg1.GetThumbnailImage(800, 800, null, IntPtr.Zero);
            //orgImg1.Dispose();
            //File.Delete(Path.Combine(startupPath, "wwwroot\\images", cropFileName));
            //bmpred.Save(cropFilePath);

            string thumpath = Path.Combine(startupPath, "wwwroot\\images\\thumb", cropFileName);
            System.Drawing.Image img1 = System.Drawing.Image.FromFile(cropFilePath);
            System.Drawing.Image bmp1 = img1.GetThumbnailImage(263, 226, null, IntPtr.Zero);
            bmp1.Save(thumpath);

            //File.Delete(Path.Combine(startupPath, "wwwroot\\images", cropFileName));
            //await JSRuntime.InvokeVoidAsync("destroypcropper");
            await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");

            imgpanel = false;
            model.picture = cropFileName;
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");
            imgpanel = false;
        }

        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        StateHasChanged();
        imgloader = true;
    }

    async void GetCropVal1(string filePath)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string range = await JSRuntime.InvokeAsync<string>("selectCropRange");
        string[] res = range.Split(",");
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        System.Drawing.Image orgImg = System.Drawing.Image.FromFile(filePath);
        Rectangle CropArea = new Rectangle(Convert.ToInt32(res[0]), Convert.ToInt32(res[1]), Convert.ToInt32(res[2]), Convert.ToInt32(res[3]));
        try
        {

            DateTime now = DateTime.Now;
            Bitmap bitMap = new Bitmap(CropArea.Width, CropArea.Height, orgImg.PixelFormat);
            using (Graphics g = Graphics.FromImage(bitMap))
            {
                g.DrawImage(orgImg, new Rectangle(0, 0, bitMap.Width, bitMap.Height), CropArea, GraphicsUnit.Pixel);
            }

            cropFileName = now.Second.ToString() + imgpath;
            string startupPath = System.IO.Directory.GetCurrentDirectory();

            cropFilePath = Path.Combine(startupPath, "wwwroot\\images", cropFileName);
            bitMap.Save(cropFilePath);
            orgImg.Dispose();

            //GenerateImageThumbnail(System.Drawing.Image.FromFile(cropFilePath), cropFilePath, 800, 800, startupPath, cropFileName);
            //System.Drawing.Image orgImg1 = System.Drawing.Image.FromFile(cropFilePath);
            //System.Drawing.Image bmpred = orgImg1.GetThumbnailImage(800, 800, null, IntPtr.Zero);
            //orgImg1.Dispose();
            //File.Delete(Path.Combine(startupPath, "wwwroot\\images", cropFileName));
            //bmpred.Save(cropFilePath);

            string thumpath = Path.Combine(startupPath, "wwwroot\\images\\thumb", cropFileName);
            System.Drawing.Image img1 = System.Drawing.Image.FromFile(cropFilePath);
            System.Drawing.Image bmp1 = img1.GetThumbnailImage(263, 226, null, IntPtr.Zero);
            bmp1.Save(thumpath);

            //File.Delete(Path.Combine(startupPath, "wwwroot\\images", cropFileName));
            //await JSRuntime.InvokeVoidAsync("destroypcropper");
            await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");

            imgpanel = false;
            model.picture = cropFileName;
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("CSHideModel", "cropModel");
            imgpanel = false;
        }

        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        StateHasChanged();
        imgloader = true;
    }


    public Bitmap CreateThumbnail(string ImagePath, int ThumbnailWidth, int ThumbnailHeight)
    {
        System.Drawing.Bitmap Thumbnail = null;
        try
        {
            Bitmap ImageBMP = new Bitmap(ImagePath);
            ImageFormat loFormat = ImageBMP.RawFormat;

            decimal lengthRatio;
            int ThumbnailNewWidth = 0;
            int ThumbnailNewHeight = 0;
            decimal ThumbnailRatioWidth;
            decimal ThumbnailRatioHeight;

            // If the uploaded image is smaller than a thumbnail size the just return it
            if (ImageBMP.Width <= ThumbnailWidth && ImageBMP.Height <= ThumbnailHeight)
                return ImageBMP;

            // Compute best ratio to scale entire image based on larger dimension.
            if (ImageBMP.Width > ImageBMP.Height)
            {
                ThumbnailRatioWidth = (decimal)ThumbnailWidth / ImageBMP.Width;
                ThumbnailRatioHeight = (decimal)ThumbnailHeight / ImageBMP.Height;
                lengthRatio = Math.Min(ThumbnailRatioWidth, ThumbnailRatioHeight);
                ThumbnailNewWidth = ThumbnailWidth;
                decimal lengthTemp = ImageBMP.Height * lengthRatio;
                ThumbnailNewHeight = (int)lengthTemp;
            }
            else
            {
                ThumbnailRatioWidth = (decimal)ThumbnailWidth / ImageBMP.Width;
                ThumbnailRatioHeight = (decimal)ThumbnailHeight / ImageBMP.Height;
                lengthRatio = Math.Min(ThumbnailRatioWidth, ThumbnailRatioHeight);
                ThumbnailNewHeight = ThumbnailHeight;
                decimal lengthTemp = ImageBMP.Width * lengthRatio;
                ThumbnailNewWidth = (int)lengthTemp;
            }
            Thumbnail = new Bitmap(ThumbnailNewWidth, ThumbnailNewHeight);
            Graphics g = Graphics.FromImage(Thumbnail);
            g.InterpolationMode = System.Drawing.Drawing2D.InterpolationMode.HighQualityBicubic;
            g.FillRectangle(Brushes.White, 0, 0, ThumbnailNewWidth, ThumbnailNewHeight);
            g.DrawImage(ImageBMP, 0, 0, ThumbnailNewWidth, ThumbnailNewHeight);

            ImageBMP.Dispose();
        }
        catch
        {
            return null;
        }

        return Thumbnail;
    }
}