﻿@page "/viewactivityprovider"
@inject IAdminMgr _IAdminMgr;
@using NE_Utilities;
<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Activity Provider</h4>
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiActive" style="margin-right:70px" title="Change Provider Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status ">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiActive" style="margin-right:70px" title="Change Provider Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiDelete"  title="Delete Provider"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiDelete"  title="Delete Provider"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="activeProviderTable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall"  @onclick="@checkboxselectvalueAll" /></th>
                                    <th>Profile Picture</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th style="background:none;">Star Rating</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (ActivityProviderData list in resObject.ResultData)
                                    {
                                        <tr>
                                            <td class="checkbox-column"><input type="checkbox"  @onchange="eventArgs => { checkboxselectvalue(list.activity_provider_id.ToString(), eventArgs.Value); }"/> </td>
                                            @if (@list.profile_picture == null)
                                            {
                                                <td><img src="images/profile_img.jpg" style="height:50px" alt="imgAvtar"></td>
                                            }
                                            else
                                            {
                                                <td><img src="images/thumb/@list.profile_picture" style="height:50px" alt="imgAvtar"></td>
                                            }
                                            <td>@list.first_name @list.last_name</td>
                                            <td>@list.email</td>
                                            <td>
                                                @if (@list.star_rating == 5)
                                                {
                                                    <span class="review_sub">
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                    </span>
                                                }
                                                else if (@list.star_rating == 4)
                                                {
                                                    <span class="review_sub">
                                                        <i class="fas fa-star" style="color: #f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                }
                                                else if (@list.star_rating == 3)
                                                {
                                                    <span class="review_sub">
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                }
                                                else if (@list.star_rating == 2)
                                                {
                                                    <span class="review_sub">
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="review_sub">
                                                        <i class="fas fa-star" style="color:#f0d238"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                }
                                            </td>
                                            @if (@list.active == true)
                                            {
                                                <td><button @onclick="@(()=> editstatus(list.activity_provider_id,list.active,"activeprovider"))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td><button @onclick="@(()=> editstatus(list.activity_provider_id,list.active,"activeprovider"))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="">
                                                <ul class="table-controls">
                                                    <li id="editButton">
                                                        @{
                                                            string encrypPass = Encryption.EncryptString(list.activity_provider_id.ToString(), Encryption.passkey);
                                                            encrypPass = encrypPass.Replace('+', '_');
                                                            encrypPass = encrypPass.Replace('/', '~');
                                                        }
                                                        <a class="editButton" href="/activityprovider/@encrypPass" id="cityid" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(list.activity_provider_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    bool showingDialog;
    string popuptype = "";
    LogIn _LogIn;
    ResultObject<List<ActivityProviderData>> resObject;
    ActivityProviderData _resValue;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _resValue = new ActivityProviderData();
        resObject = _LogIn.acitvityProvider("viewactivityProvider", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindProviderdtexcel", "activeProviderTable", false, 2, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Provider" });
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this provider will not be shown to user then? ");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityProvider("deleteactivityProvider", id, _resValue);
            _resValue = new ActivityProviderData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _LogIn.acitvityProvider("viewactivityProvider", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider Deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "activeProviderTable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }
    async void editstatus(int id, bool status, string reqtype)
    {
        bool confirmed;
        if (status == true)
        {
            confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this provider will not be shown to user then? ");
        }
        else
        {
            confirmed = true;
        }
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityProvider("activeprovider", id.ToString(), _resValue);
            _resValue = new ActivityProviderData();
            if (res1.ResultMessage == "Success")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider Status updated successfully");
                await JSRuntime.InvokeVoidAsync("BindProviderdtexcel", "activeProviderTable", false, 2, "ASC");
                resObject = _LogIn.acitvityProvider("viewactivityProvider", "");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    void checkboxselectvalue(string id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            ckvalue += "," + id;
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("getcheckUncheckAll");
            ckvalue = ckvalue.Replace("," + id, string.Empty);
        }
        checkbox = true;
        if (ckvalue == "")
        {
            checkbox = false;
        }
    }

    void checkboxselectvalueAll()
    {
        JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "activeProviderTable", checkbox);
        if (checkbox == false)
        {
            foreach (ActivityProviderData cd in resObject.ResultData)
            {
                ckvalue += "," + cd.activity_provider_id;
            }
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
            checkbox = true;
        }
        else
        {
            ckvalue = "";
            checkbox = false;
        }

    }

    async void multiDelete()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this provider will not be shown to user then? ");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityProvider("provdeletemultiple", ckvalue, _resValue);
            _resValue = new ActivityProviderData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _LogIn.acitvityProvider("viewactivityProvider", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider Deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "activeProviderTable");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "activeProviderTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }


    async void multiActive()
    {
        bool confirmed;
        confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this provider will not be shown to user then? ");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editacitvityProvider("provactivemultiple", ckvalue, _resValue);
            _resValue = new ActivityProviderData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _LogIn.acitvityProvider("viewactivityProvider", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider Status updated successfully");
                await JSRuntime.InvokeVoidAsync("BindProviderdtexcel", "activeProviderTable", false, 2, "ASC");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "activeProviderTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }
}