﻿@page "/activityprovider"
@page "/activityprovider/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NearByExperiences.FileUpload.IFileUploadData fileUpload;
@inject NavigationManager navigationmanager;
@using NE_Utilities;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Edit Activity Provider</h4>
                        }
                        else
                        {
                            <h4>Add Activity Provider</h4>
                        }
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">

                <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">First Name<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.first_name" type="text" class="form-control" id="sname" placeholder="First Name" />
                                <ValidationMessage For="@(() => model.first_name)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Last Name<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.last_name" type="text" class="form-control" id="sname" placeholder="Last Name" />
                                <ValidationMessage For="@(() => model.last_name)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Email<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.email" type="text" class="form-control" id="sname" placeholder="Email" />
                                <ValidationMessage For="@(() => model.email)" />
                            </div>
                            @*<div class="form-group mb-4 col-lg-4">
                                <label for="cname">Password<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.password" type="password" class="form-control" id="sname" placeholder="Password" />
                                <ValidationMessage For="@(() => model.password)" />
                            </div>*@
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Location<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.location" type="text" class="form-control" id="sname" placeholder="Location" />
                                <ValidationMessage For="@(() => model.location)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Star Rating<span class="astick">*</span></label>
                                <div class="stars">
                                    <input checked="@(model.star_rating == 1)" type="radio" name="star" class="star-1" id="star-1" @onchange="@(() => model.star_rating = 1)" />
                                    <label class="star-1" for="star-1">1</label>
                                    <input checked="@(model.star_rating == 2)" type="radio" name="star" class="star-2" id="star-2" @onchange="@(() => model.star_rating = 2)" />
                                    <label class="star-2" for="star-2">2</label>
                                    <input checked="@(model.star_rating == 3)" type="radio" name="star" class="star-3" id="star-3" @onchange="@(() => model.star_rating = 3)" />
                                    <label class="star-3" for="star-3">3</label>
                                    <input checked="@(model.star_rating == 4)" type="radio" name="star" class="star-4" id="star-4" @onchange="@(() => model.star_rating = 4)" />
                                    <label class="star-4" for="star-4">4</label>
                                    <input checked="@(model.star_rating == 5)" type="radio" name="star" class="star-5" id="star-5" @onchange="@(() => model.star_rating = 5)" />
                                    <label class="star-5" for="star-5">5</label>
                                    <span></span>
                                </div>
                                <ValidationMessage For="@(() => model.star_rating)" />
                            </div>
                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">About Me<span class="astick">*</span></label>
                                <InputTextArea maxlength="5000" rows="5" cols="50" @bind-Value="@model.about_me" type="text" class="form-control" id="sname" placeholder="About Me" />
                                <ValidationMessage For="@(() => model.about_me)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Profession<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.profession" type="text" class="form-control" id="sname" placeholder="Profession" />
                                <ValidationMessage For="@(() => model.profession)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Title<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.metatitle" type="text" class="form-control" id="sname" placeholder="Meta Title" />
                                <ValidationMessage For="@(() => model.metatitle)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Keywords</label>
                                <InputText maxlength="1000" @bind-Value="@model.metakeywords" type="text" class="form-control" id="sname" placeholder="Meta Keywords" />
                                <ValidationMessage For="@(() => model.metakeywords)" />
                            </div>

                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">Meta Description</label>
                                <InputTextArea maxlength="1000" rows="5" cols="50" @bind-Value="@model.metadescription" type="text" class="form-control" id="sname" placeholder="Meta Description" />
                                <ValidationMessage For="@(() => model.metadescription)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="ccc">Profile Picture<span class="astick">*</span></label>
                                <InputFile OnChange="HandleFileSelected" />
                                @if (model.profile_picture != null)
                                {
                                    <img src="images/thumb/@model.profile_picture" style="height:80px; margin-top:5px;" alt="imgAvtar" />
                                }
                                <label for="ccc">@model.profile_picture</label>
                                <ValidationMessage For="@(() => model.profile_picture)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }

    LogIn _LogIn;
    ActivityProviderData model;
    ResultObject<List<ActivityProviderData>> resObject;
    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _LogIn.acitvityProvider("viewactivityProviderbyid", param);
        model = new ActivityProviderData();
        if (resObject.ResultData.Count > 0)
        {
            model = resObject.ResultData.FirstOrDefault();
        }
    }

    bool loadimg = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if(loadimg)
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
        if (resObject.ResultData.Count > 0)
        {
            JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Edit Provider" });
        }
        else
        {
            JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Add Provider" });
        }
    }

    IFileListEntry file;
    async Task HandleFileSelected(IFileListEntry[] files)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        file = files.FirstOrDefault();
        if (file != null)
        {
            if (file.Type.Contains("image"))
            {
                loadimg = false;
                await fileUpload.UploadAsync(file);
                model.profile_picture = file.Name;
                loadimg = true;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Please Upload Image File");
            }
        }
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void OnConfirm()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        model.slug_url = NE_Utilities.Slugify.Slugify1(model.first_name) + "-" + NE_Utilities.Slugify.Slugify1(model.last_name);
        res1 = _LogIn.editacitvityProvider("updateactivityProvider", "", model);
        if (res1.ResultMessage == "Success")
        {
            //if (param != null)
            if (resObject.ResultData.Count > 0)
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider updated successfully.");
                //resObject = _LogIn.acitvityProvider("viewactivityProviderbyid", param);
                //model = resObject.ResultData.FirstOrDefault();
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Activity Provider added successfully.");
                //resObject = new ResultObject<List<ActivityProviderData>>();
                //model = new ActivityProviderData();
            }
            navigationmanager.NavigateTo("viewactivityprovider");
        }
        else if (res1.ResultMessage == "Activity Provider Email Already Exists")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Activity Provider Email Already Exists");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Something Wrong Submit Activity Provider details");
            resObject = new ResultObject<List<ActivityProviderData>>();
            model = new ActivityProviderData();
        }
    }

    protected void HandleInvalidSubmit()
    {
        JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Mandatory Field");
    }
}