﻿@page "/city"
@inject IAdminMgr _IAdminMgr;
@inject IJSRuntime JSRuntime;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            @*<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">*@
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View City</h4>
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiActive" style="margin-right:120px" title="Change City Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status ">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiActive" style="margin-right:120px" title="Change City Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiDelete" style="margin-right:60px" title="Delete City"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiDelete" style="margin-right:60px" title="Delete City"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }

                            <button type="button" @onclick="ShowConfigurePlanDialogAdd" title="Add City"
                                    class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="style-2" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall" @onclick="@checkboxselectvalueAll" /></th>
                                    <th>#</th>
                                    <th>City</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (CityMasterData city in res.ResultData)
                                    {
                                        <tr>
                                            <td class="checkbox-column"><input type="checkbox" @onchange="eventArgs => { checkboxselectvalue(city.city_id.ToString(), eventArgs.Value); }" /> </td>
                                            <td></td>
                                            <td>@city.city_name</td>
                                            @if (city.active == true)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(city.city_id,city.active))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important"> Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(city.city_id,city.active))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    <li id="editButton">
                                                        <a class="editButton" @onclick="@(() => ShowConfigurePlanDialogEdit(city.city_id.ToString()))" id="cityid" href="javascript:void(0);" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(city.city_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <CityPopUp popuptype="@popuptype" OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" cityMaster="_city" />
}

@code {
    bool showingDialog;
    string popuptype = "";
    LogIn _LogIn;
    ResultObject<List<CityMasterData>> res;

    CityMasterData _city;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _city = new CityMasterData();
        res = _LogIn.cityMaster();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        checkbox = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "style-2", false, 2, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View City" });
    }


    void ShowConfigurePlanDialogAdd()
    {
        popuptype = "Add";
        _city = new CityMasterData();
        showingDialog = true;
    }
    void CancelConfigurePlanDialog()
    {
        popuptype = "";
        _city = new CityMasterData();
        JSRuntime.InvokeVoidAsync("CSHideModel", "cityModel");
        showingDialog = false;
    }

    void ShowConfigurePlanDialogEdit(string id)
    {
        popuptype = "Edit";
        _city = res.ResultData.Where(x => x.city_id == Convert.ToInt32(id)).FirstOrDefault();
        showingDialog = true;
    }

    void ConfirmConfigurePlanDialog()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        _city.slug_url = NE_Utilities.Slugify.Slugify1(_city.city_name);
        res1 = _LogIn.editCityMaster("updatecity", "", _city);
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSHideModel", "cityModel");
        if (res1.ResultMessage == "Success")
        {
            if (popuptype == "Edit")
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City updated successfully");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City added successfully");
                //JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "style-2");
            }
            res = _LogIn.cityMaster();
        }
        else if (res1.ResultMessage == "City Already Exists")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "City Already Exists");
            JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "style-2", false, 2, "ASC");
            res = _LogIn.cityMaster();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        _city = new CityMasterData();
    }

    async void delete(string id)
    {

        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this city will not be shown to user then?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editCityMaster("deletecity", id, _city);
            _city = new CityMasterData();
            if (res1.ResultMessage == "Success")
            {
                res = _LogIn.cityMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "style-2");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    async void editstatus(int id, bool status)
    {
        bool confirmed;
        if (status == true)
        {
            confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this city will not be shown to user then?");
        }
        else
        {
            confirmed = true;
        }
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editCityMaster("activeCity", id.ToString(), _city);
            _city = new CityMasterData();
            if (res1.ResultMessage == "Success")
            {
                res = _LogIn.cityMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City Status updated successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "style-2", false, 2, "ASC");

            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    async void multiDelete()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this city will not be shown to user then?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editCityMaster("deletecitymultiple", ckvalue, _city);
            _city = new CityMasterData();
            if (res1.ResultMessage == "Success")
            {
                res = _LogIn.cityMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "style-2");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "style-2", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }

    async void multiActive()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to proceed as all activities of this city will not be shown to user then?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editCityMaster("activecitymultiple", ckvalue, _city);
            _city = new CityMasterData();
            if (res1.ResultMessage == "Success")
            {
                res = _LogIn.cityMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "City Status updated successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "style-2", false, 2, "ASC");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "style-2", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
            ckvalue = "";
            StateHasChanged();
        }
    }

    void checkboxselectvalue(string id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            ckvalue += "," + id;
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("getcheckUncheckAll");
            ckvalue = ckvalue.Replace("," + id, string.Empty);
        }
        checkbox = true;
        if (ckvalue == "")
        {
            checkbox = false;
        }
    }

    void checkboxselectvalueAll()
    {
        JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "style-2", checkbox);
        if (checkbox == false)
        {
            foreach (CityMasterData cd in res.ResultData)
            {
                ckvalue += "," + cd.city_id;
            }
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
            checkbox = true;
        }
        else
        {
            ckvalue = "";
            checkbox = false;
        }
    }

}