﻿@page "/faqpage"
@inject IAdminMgr _IAdminMgr;


<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>FAQ INFORMATION</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Page Name<span class="astick">*</span></label>
                                <InputText maxlength="1000" disabled @bind-Value="@model.page_title" type="text" class="form-control" id="sname" placeholder="Title" />
                                <ValidationMessage For="@(() => model.page_title)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Title<span class="astick">*</span></label>
                                <InputText maxlength="1000" @bind-Value="@model.page_metatitle" type="text" class="form-control" id="sname" placeholder="Meta Title" />
                                <ValidationMessage For="@(() => model.page_metatitle)" />
                            </div>
                            <div class="form-group mb-4 col-lg-4">
                                <label for="cname">Meta Keywords</label>
                                <InputText maxlength="1000" @bind-Value="@model.page_metakeywords" type="text" class="form-control" id="sname" placeholder="Meta Keywords" />
                                <ValidationMessage For="@(() => model.page_metakeywords)" />
                            </div>
                            <div class="form-group mb-4 col-lg-12">
                                <label for="cname">Meta Description</label>
                                <InputTextArea maxlength="1000" rows="6" cols="50" @bind-Value="@model.page_metadescription" type="text" class="form-control" id="sname" placeholder="Meta Description" />
                                <ValidationMessage For="@(() => model.page_metadescription)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {


    LogIn _LogIn;
    ResultObject<List<CmsPageData>> resObject;
    CmsPageData model;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        model = new CmsPageData();
        resObject = _LogIn.cmsMasterreq("viewcmsreq", "Page");
        model = resObject.ResultData.FirstOrDefault();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");

    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "FAQ" });
    }

    protected void HandleInvalidSubmit()
    {
        //JSRuntime.InvokeVoidAsync("CSAlertMsg", "Info", "Please Fill Mandatory Field");
    }

    async void OnConfirm()
    {
        ResultObject<string> res1 = new ResultObject<string>();

        res1 = _LogIn.editCmsMaster("updatecms", "", model);
        if (res1.ResultMessage == "Success")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Page updated successfully");
        }
        else if (res1.ResultMessage == "CMS Title Already Exists")
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        resObject = _LogIn.cmsMasterreq("viewcmsreq", "Page");
        model = resObject.ResultData.FirstOrDefault();

    }
}
