﻿@page "/profile"
@inject IAdminMgr _IAdminMgr;

<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>My Profile</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="row">
                    <EditForm Model="@resLog.ResultData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Name</label>
                            <input @bind="resLog.ResultData.name" class="form-control" id="Name" placeholder="Name" />
                            <ValidationMessage For="@(() => resLog.ResultData.name)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Email</label>
                            <input disabled @bind="resLog.ResultData.email" class="form-control" id="Email" placeholder="Email" />
                            <ValidationMessage For="@(() => resLog.ResultData.email)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Mobile No</label>
                            <input @bind="resLog.ResultData.phone_no" class="form-control" id="Password" placeholder="Mobile No" />
                            <ValidationMessage For="@(() => resLog.ResultData.phone_no)" />
                        </div>
                        <div class="col-lg-12">
                            <input name="Update" class="btn btn-primary" type="submit" value="Update">
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_leftMenu" />
@code {
    ResultObject<ProfileData> resLog;
    LogIn _LogIn;
    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        resLog = _LogIn.getProfileData("loginprofile", "", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "My Profile" });
    }

    @inject SessionBootstrapper bootstrapper
    void OnConfirm()
    {
        ResultObject<string> res = new ResultObject<string>();
        res = _LogIn.updateProfile("profileudpate", "", "", resLog.ResultData);
        if (res.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Profile updated successfully.");
            JSRuntime.InvokeVoidAsync("changespantext", "adminaname", resLog.ResultData.name);
            resLog = _LogIn.getProfileData("loginprofile", "", "");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            resLog = _LogIn.getProfileData("loginprofile", "", "");
        }
    }

    protected void HandleInvalidSubmit()
    {
    }
}
