﻿@page "/enquiry"
@inject IAdminMgr _IAdminMgr;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Enquiries</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="signupTable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (SignupRequestData list in resObject.ResultData)
                                    {
                                        <tr>
                                            <td>@list.name</td>
                                            <td>@list.email</td>
                                            <td>@list.subject</td>
                                            <td>@list.message</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    bool showingDialog;
    string popuptype = "";
    LogIn _LogIn;
    ResultObject<List<SignupRequestData>> resObject;
    SignupRequestData _resValue;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _resValue = new SignupRequestData();
        resObject = _LogIn.signrequestMaster();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTable", "signupTable", false, 0, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Enquiry" });
    }
}