﻿@page "/tag"
@inject IAdminMgr _IAdminMgr;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Tag</h4>
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiActive" style="margin-right:120px" title="Change Tag Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status ">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiActive" style="margin-right:120px" title="Change Tag Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiDelete" style="margin-right:60px" title="Delete Tag"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiDelete" style="margin-right:60px" title="Delete Tag"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }

                            <button type="button" @onclick="ShowConfigurePlanDialogAdd" title="Add Tag"
                                    class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1">
                                <i class="fa fa-plus"></i>
                            </button>
                            @*<button class="btn btn-primary notification-btn" type="button" @onclick="ShowConfigurePlanDialogAdd">
                                    <svg viewBox="0 0 24 24" width="24" height="24"
                                         stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                         stroke-linejoin="round" class="css-i6dzq1">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Add Tag
                                 @onclick="@(()=> checkboxselectvalue(tag.tag_id.ToString()))"
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="tagTable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall" @onclick="@checkboxselectvalueAll" /></th>
                                    <th>#</th>
                                    <th>Tag</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (TagsMasterData tag in resTag.ResultData)
                                    {
                                        <tr>
                                            <td class="checkbox-column"><input type="checkbox" @onchange="eventArgs => { checkboxselectvalue(tag.tag_id.ToString(), eventArgs.Value); }" /> </td>
                                            <td></td>
                                            <td>@tag.tags_name</td>
                                            @if (tag.active == true)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(tag.tag_id,tag.active))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(tag.tag_id,tag.active))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    <li id="editButton">
                                                        <a class="editButton" @onclick="@(() => ShowConfigurePlanDialogEdit(tag.tag_id.ToString()))" id="cityid" href="javascript:void(0);" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(tag.tag_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <TagPopUp popuptype="@popuptype" OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" targetMaster="_tags" />
}

@code {
    bool showingDialog;
    string popuptype = "";
    LogIn _LogIn;
    ResultObject<List<TagsMasterData>> resTag;
    TagsMasterData _tags;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _tags = new TagsMasterData();
        resTag = _LogIn.tagMaster();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "tagTable", false, 2, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Tag" });
    }

    void ShowConfigurePlanDialogAdd()
    {
        popuptype = "Add";
        _tags = new TagsMasterData();
        showingDialog = true;
    }
    void CancelConfigurePlanDialog()
    {
        popuptype = "";
        _tags = new TagsMasterData();
        JSRuntime.InvokeVoidAsync("CSHideModel", "tagModel");
        showingDialog = false;
    }

    void ShowConfigurePlanDialogEdit(string id)
    {
        popuptype = "Edit";
        _tags = resTag.ResultData.Where(x => x.tag_id == Convert.ToInt32(id)).FirstOrDefault();
        showingDialog = true;
    }

    void ConfirmConfigurePlanDialog()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _LogIn.editTagMaster("updatetag", "", _tags);
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSHideModel", "tagModel");
        if (res1.ResultMessage == "Success")
        {

            if (popuptype == "Edit")
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag updated successfully");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag added successfully");
                //JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "tagTable");
            }
            resTag = _LogIn.tagMaster();
        }
        else if (res1.ResultMessage == "Tag Already Exists")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
            JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "tagTable");
            resTag = _LogIn.tagMaster();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        _tags = new TagsMasterData();
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editTagMaster("deletetag", id, _tags);
            _tags = new TagsMasterData();
            if (res1.ResultMessage == "Success")
            {
                resTag = _LogIn.tagMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "tagTable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    void editstatus(int id, bool status)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = res1 = _LogIn.editTagMaster("activetag", id.ToString(), _tags);
        _tags = new TagsMasterData();
        if (res1.ResultMessage == "Success")
        {
            if (status == false)
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag Status updated successfully");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag Status updated successfully");
            }
            JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "tagTable", false, 2, "ASC");
            resTag = _LogIn.tagMaster();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
    }

    async void multiDelete()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editTagMaster("deletetagmultiple", ckvalue, _tags);
            _tags = new TagsMasterData();
            if (res1.ResultMessage == "Success")
            {
                resTag = _LogIn.tagMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag Deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "tagTable");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "tagTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }

    async void multiActive()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to change status of the selected record (s)?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.editTagMaster("activetagmultiple", ckvalue, _tags);
            _tags = new TagsMasterData();
            if (res1.ResultMessage == "Success")
            {
                resTag = _LogIn.tagMaster();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Tag Status updated successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableCityWithCheck", "tagTable", false, 2, "ASC");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "tagTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }

    void checkboxselectvalue(string id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            ckvalue += "," + id;
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("getcheckUncheckAll");
            ckvalue = ckvalue.Replace("," + id, string.Empty);
        }
        checkbox = true;
        if (ckvalue == "")
        {
            checkbox = false;
        }
    }

    void checkboxselectvalueAll()
    {
        JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "tagTable", checkbox);
        if (checkbox == false)
        {
            foreach (TagsMasterData cd in resTag.ResultData)
            {
                ckvalue += "," + cd.tag_id;
            }
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
            checkbox = true;
        }
        else
        {
            ckvalue = "";
            checkbox = false;
        }

    }
}