﻿@page "/testimonial"
@inject IAdminMgr _IAdminMgr;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Testimonial</h4>
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiActive" style="margin-right:120px" title="Change Testimonial Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status ">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiActive" style="margin-right:120px" title="Change Testimonial Status"
                                        class="btn btn-icon  notification-btn btn-default btn-outline change-status">
                                    <i class="icon fa fa-exchange"></i>
                                </button>
                            }
                            @if (ckvalue == "" || ckvalue == null)
                            {
                                <button type="button" disabled @onclick="@multiDelete" style="margin-right:60px" title="Delete Testimonial"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@multiDelete" style="margin-right:60px" title="Delete Testimonial"
                                        class="btn btn-icon  notification-btn btn-default btn-outline dt-delete text-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }

                            <button type="button" @onclick="ShowConfigurePlanDialogAdd" title="Add Testimonial"
                                    class="btn btn-floating notification-btn btn-primary float-right btn-sm mt-1">
                                <i class="fa fa-plus"></i>
                            </button>
                            @*<button class="btn btn-primary notification-btn" type="button" @onclick="ShowConfigurePlanDialogAdd">
                                    <svg viewBox="0 0 24 24" width="24" height="24"
                                         stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                         stroke-linejoin="round" class="css-i6dzq1">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Add
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="testmonialTable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall" @onclick="@checkboxselectvalueAll" /></th>
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th class="text-right">Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (TestimonialData city in res.ResultData)
                                    {
                                        <tr>
                                            <td class="checkbox-column"><input type="checkbox" @onchange="eventArgs => { checkboxselectvalue(city.testimonial_id.ToString(), eventArgs.Value); }" /> </td>
                                            @if (city.testimonial_image == null)
                                            {
                                                <td><img src="images/profile_img.jpg" style="max-width:100%; height:100px; width:100px;" alt="imgAvtar"></td>
                                            }
                                            else
                                            {
                                                <td><img src="images/thumb/@city.testimonial_image" style="max-width:100%; width:100px; height:100px" alt="imgAvtar"></td>
                                            }
                                            <td>@city.testimonial_name</td>
                                            <td>@city.designation</td>
                                            @if (city.active == true)
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(city.testimonial_id,city.active))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                            }
                                            else
                                            {
                                                <td class="text-right"><button @onclick="@(()=> editstatus(city.testimonial_id,city.active))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                            }
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    <li id="editButton">
                                                        <a class="editButton" @onclick="@(() => ShowConfigurePlanDialogEdit(city.testimonial_id.ToString()))" id="cityid" href="javascript:void(0);" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a @onclick="@(() => delete(city.testimonial_id.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                           data-original-title="Delete">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showingDialog)
{
    <TestimonialPopUp popuptype="@popuptype" OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" model="_testm" />
}

@code {
    bool showingDialog;
    string popuptype = "";
    LogIn _LogIn;
    ResultObject<List<TestimonialData>> res;

    TestimonialData _testm;

    public string ckvalue { get; set; }
    bool checkbox;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        _testm = new TestimonialData();
        res = _LogIn.tetimonial();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("CSBindDataTableTestimonial", "testmonialTable", false, 2, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Testimonial" });
    }

    void ShowConfigurePlanDialogAdd()
    {
        popuptype = "Add";
        _testm = new TestimonialData();
        showingDialog = true;
    }
    void CancelConfigurePlanDialog()
    {
        popuptype = "";
        _testm = new TestimonialData();
        JSRuntime.InvokeVoidAsync("CSHideModel", "testmonialModel");
        showingDialog = false;
    }

    void ShowConfigurePlanDialogEdit(string id)
    {
        popuptype = "Edit";
        _testm = res.ResultData.Where(x => x.testimonial_id == Convert.ToInt32(id)).FirstOrDefault();
        showingDialog = true;
    }

    void ConfirmConfigurePlanDialog()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _LogIn.edittetimonial("updateTestmonial", "", _testm);
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSHideModel", "testmonialModel");
        if (res1.ResultMessage == "Success")
        {
            if (popuptype == "Edit")
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial updated successfully");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial added successfully");
                JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
            }
            res = _LogIn.tetimonial();
        }
        else if (res1.ResultMessage == "Testimonial Name Already Exists")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
            _testm = new TestimonialData();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        _testm = new TestimonialData();
        StateHasChanged();
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.edittetimonial("deleteTestmonial", id, _testm);
            _testm = new TestimonialData();
            if (res1.ResultMessage == "Success")
            {
                res = res = _LogIn.tetimonial();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

    void editstatus(int id, bool status)
    {
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = res1 = _LogIn.edittetimonial("activeTestmonial", id.ToString(), _testm);
        _testm = new TestimonialData();
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial Status updated successfully");
            JSRuntime.InvokeVoidAsync("CSBindDataTableTestimonial", "testmonialTable", false, 2, "ASC");
            _testm = new TestimonialData();
            res = _LogIn.tetimonial();
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
    }

    void checkboxselectvalue(string id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            ckvalue += "," + id;
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("getcheckUncheckAll");
            ckvalue = ckvalue.Replace("," + id, string.Empty);
        }
        checkbox = true;
        if (ckvalue == "")
        {
            checkbox = false;
        }
    }

    void checkboxselectvalueAll()
    {
        JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "testmonialTable", checkbox);
        if (checkbox == false)
        {
            foreach (TestimonialData cd in res.ResultData)
            {
                ckvalue += "," + cd.testimonial_id;
            }
            List<string> uniques = ckvalue.Split(',').Reverse().Distinct().Reverse().ToList();
            ckvalue = string.Join(",", uniques);
            checkbox = true;
        }
        else
        {
            ckvalue = "";
            checkbox = false;
        }

    }

    async void multiDelete()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.edittetimonial("testmonialdeletemultiple", ckvalue, _testm);
            _testm = new TestimonialData();
            if (res1.ResultMessage == "Success")
            {
                res = res = _LogIn.tetimonial();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial Deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "testmonialTable");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "testmonialTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }

    async void multiActive()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to change status of the selected record (s)?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = res1 = _LogIn.edittetimonial("testmonialactivemultiple", ckvalue, _testm);
            _testm = new TestimonialData();
            if (res1.ResultMessage == "Success")
            {
                res = _LogIn.tetimonial();
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Testimonial Status updated successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableTestimonial", "testmonialTable", false, 2, "ASC");
                await JSRuntime.InvokeVoidAsync("getcheckdtvalAll", "testmonialTable", checkbox);
                checkbox = false;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            ckvalue = "";
            StateHasChanged();
        }
    }
}