﻿<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item theme-brand flex-row text-center">
            <li class="nav-item theme-logo" style="height:44px !important">
                <a href="~/dashboard">
                    <img src="~/assets/img/nearbyhead.png" class="navbar-logo" alt="logo" style="width:170px !important; height:38px !important;" />
                </a>
            </li>
            @*<li class="nav-item theme-text">
                    <a href="~/dashboard" class="nav-link">Nearby Experiences</a>
                </li>*@
        </ul>
        <ul class="navbar-item flex-row ml-md-0 ml-auto">
        </ul>
        <ul class="navbar-item flex-row ml-md-auto">
            <li class="nav-item theme-text">
                @{
                    @namespace NearByExperiences.Pages
                    @using NearByExperiences.Helpers;
                    @using NE_Utilities.Enum;
                    @using NE_BaseObject;
                    @using NE_BaseObject.Admin;
                    @using Services;
                    @using Microsoft.AspNetCore.Http;
                    @using Microsoft.Extensions.Configuration;
                    @using NE_Mgr_Interface.Admin;
                    @inject IConfiguration iConfig;
                    @inject IHttpContextAccessor httpContextAccessor;
                    @inject IAdminMgr _IAdminMgr;
                    ResultObject<AdminUserData> resLogin = new ResultObject<AdminUserData>();
                    LogIn _authService = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
                    resLogin = _authService.checkLogin();
                    // bootstrapper.SharedButtonLabel = resLogin.ResultData.name;
                    //(new System.Collections.Generic.IDictionaryDebugView<string, object>(session.Items).Items[0]).Value
                }
                <span id="adminaname" style="color:white;font-weight:bold;font-size:larger" class="nav-link">@resLogin.ResultData.name</span>
                @*<span style="color:white;font-weight:bold;font-size:larger" class="nav-link">@resLogin.ResultData.AdminaName</span>*@

            </li>
            <li class="nav-item dropdown user-profile-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img src="~/assets/img/90x90.jpg" alt="avatar" />
                </a>
                <div class="dropdown-menu position-absolute" style="padding:2px !important" aria-labelledby="userProfileDropdown">
                    <div class="">
                        <div class="dropdown-item">
                            <a class="" href="~/profile"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> My Profile</a>
                        </div>
                        <div class="dropdown-item">
                            <a class="" href="~/changepassword">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-unlock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2" /><path d="M7 11V7a5 5 0 0 1 9.9-1" /></svg>Change Password
                            </a>
                        </div>

                        <div class="dropdown-item">
                            <a class="" href="~/logout">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-log-out">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg> Sign Out
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>
<div class="sub-header-container">
    <header class="header navbar navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </a>
        <ul class="navbar-nav flex-row">
            <li>
                <div class="page-header">
                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Admin Menu</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </li>
        </ul>
    </header>
</div>