﻿@page "/"
@namespace NearByExperiences.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using NearByExperiences.Helpers;
@inject SessionBootstrapper bootstrapper
@{
    bootstrapper.Bootstrap();
}
@{ 
    @using NE_Utilities.Enum;
    @using NE_BaseObject;
    @using NE_BaseObject.Admin;
    @using Services;
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.Extensions.Configuration;
    @using NE_Mgr_Interface.Admin;
    @inject IConfiguration iConfig;
    @inject IHttpContextAccessor httpContextAccessor;
    @inject IAdminMgr _IAdminMgr;
    ResultObject<AdminUserData> resLogin = new ResultObject<AdminUserData>();
    LogIn _authService = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
    resLogin = _authService.checkLogin();
    Layout = null;

    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <title>Nearby Experiences</title>

    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.png" />
    <link href="~/CssFiles/CustomCss.css" rel="stylesheet" />
    @{
        if (resLogin.Result == ResultType.Success)
        {
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet" />
            <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css" />
            <link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">

            <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
            <link rel="stylesheet" type="text/css" href="~/assets/css/custom-style.css" />

            @*<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
                <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
                <link href="~/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />*@

            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_html5.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_custom.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_miscellaneous.css">
            <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
            <link rel="stylesheet preload" as="style" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">

            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
            <link href="~/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />

            <link href="~/CssFiles/jquery.Jcrop.css" rel="stylesheet" />

        }
        else
        {
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet" />
            <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css" />
            <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css" />
            <link rel="stylesheet" type="text/css" href="~/assets/css/custom-style.css" />
        }
        <link href="~/assets/css/pages/error/style-400.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
    }
</head>
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    @{
        if (resLogin.Result == ResultType.Success)
        {
            @Html.Partial("_Header")
            <div class="main-container" id="container">
                @Html.Partial("_LeftMenu")

                <div id="content" class="main-content">
                    <app>
                        <component type="typeof(App)" render-mode="Server" />
                    </app>
                    <div class="footer-wrapper">
                        <div class="footer-section f-section-1">
                            <p class="">Copyright © 2020 <a target="_blank" href="#">Nearby Experiences.</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <app>
                <component type="typeof(LoginApp)" render-mode="Server" />
            </app>
        }
    }
    <script src="_framework/blazor.server.js"></script>
    <script src="~/JsFiles/CSCustomAdmin.js"></script>
    <script src="~/JsFiles/NewCustom.js"></script>
    <script>
        // use this to redirect from "Login Page" only in order to save the state on server side session
        // because blazor's NavigateTo() won't perform a postback request. The function below performs a postback request
        //and runs above code to save data in server side session.
        window.clientJsMethods = {
            RedirectTo: function (path) {
                window.location = path;
            }
        };
    </script>

    @* New Binding  *@
    @{
        if (resLogin.Result == ResultType.Success)
        {
            <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
            <script src="~/bootstrap/js/popper.min.js"></script>
            <script src="~/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script src="~/assets/js/app.js"></script>
            <script>
                $(document).ready(function () {
                    App.init();
                });
            </script>
            <script src="~/assets/js/custom.js"></script>
            <script src="_content/BlazorInputFile/inputfile.js"></script>
            <script src="~/plugins/editors/ckeditor/ckeditor.js"></script>
            <script src="~/plugins/apex/apexcharts.min.js"></script>

            @*
                <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                <script src="~/JsFiles/BlazorQuill.js"></script>
                   <script src="~/assets/js/dashboard/dash_2.js"></script>
            *@

            <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
            <script src="~/plugins/table/datatable/datatables.js"></script>
            <script src="~/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/jszip.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/buttons.print.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
            <script src="~/JsFiles/jquery.Jcrop.js"></script>

            <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
            <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

        }
        else
        {
            <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
            <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
            <script src="~/bootstrap/js/popper.min.js"></script>
            <script src="~/bootstrap/js/bootstrap.min.js"></script>
            <!-- END GLOBAL MANDATORY SCRIPTS -->
            <script src="~/assets/js/authentication/form-1.js"></script>
            @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap//dist//js/bootstrap.bundle.min.js"></script>
                <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
        }
        <script src="~/plugins/notification/snackbar/snackbar.min.js"></script>
        <script src="~/assets/js/components/notification/custom-snackbar.js"></script>

        <div class="modal" id="components-reconnect-modal"></div>
        <script>
            let reconnect = () => {
                var modal = document.getElementById("components-reconnect-modal");
                if (modal.classList.contains("components-reconnect-failed") || modal.classList.contains("components-reconnect-rejected")) {
                    window.location.reload(false);
                    return;
                }
                setTimeout(reconnect, 500);
            };
             setTimeout(reconnect, 500);
        </script>
    }
</body>
</html>
