﻿@*@layout MainLayout*@

@page "/dashboard"
@inject IAdminMgr _IAdminMgr;
@*Welcome to <h1>Nearby Experiences</h1>*@



<div class="layout-px-spacing">

    <div class="row layout-top-spacing">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-card-four dashboard-active-box">
                <div class="widget-content">
                    <a href="/city">
                        <div class="w-content w-active-content">
                            <div class="w-info">
                                <h6 class="value">@resDash.ResultData.cityCount</h6>
                                <p class="">City</p>
                            </div>
                            <div class="">
                                <div class="w-icon w-active-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" /><circle cx="12" cy="10" r="3" /></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-card-four dashboard-users-box">
                <div class="widget-content">
                    <a href="/tag">
                        <div class="w-content w-active-subs">
                            <div class="w-info">
                                <h6 class="value">@resDash.ResultData.tagCount</h6>
                                <p class="">Tag</p>
                            </div>
                            <div class="">
                                <div class="w-icon w-subs-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z" /><line x1="7" y1="7" x2="7.01" y2="7" /></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-one_hybrid widget-followers">
                <a href="/viewactivityprovider">
                    <div class="widget-heading">
                        <div class="w-icon float-left">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                        </div>
                        <h5 class="float-left ml-2">
                            <p class="w-value">@resDash.ResultData.providerCount</p> Provider
                        </h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="regAppChart"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-one_hybrid widget-referral">
                <a href="/viewactivity">
                    <div class="widget-heading">
                        <div class="w-icon float-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" /><polyline points="14 2 14 8 20 8" /><line x1="16" y1="13" x2="8" y2="13" /><line x1="16" y1="17" x2="8" y2="17" /><polyline points="10 9 9 9 8 9" /></svg>
                        </div>
                        <h5 class="float-left ml-2">
                            <p class="w-value">@resDash.ResultData.activityCount</p> Activity
                        </h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="unregAppChart"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div style="height:220px; letter-spacing: 0px;text-transform: inherit;font-family: verdana;text-align: center!important;">
                    <h1 class="text-center welcome-text" style="margin-bottom: 10px;margin-top: 5px;">
                        Welcome To Nearby Experiences
                    </h1>
                    <h1 class="text-center welcome-text" style="margin-top: 2px;">
                        Admin Panel
                    </h1>
                </div>
            </div>
        </div>
    </div>

@code{



    ResultObject<DashboardData> resDash;
    LogIn _LogIn;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        resDash = _LogIn.dashboardData();
    }


    protected override void OnAfterRender(bool firstRender)
    {
        string[] provsplit = resDash.ResultData.providerChart.Split(',');
        string[] actsplit = resDash.ResultData.activityChart.Split(',');
        JSRuntime.InvokeVoidAsync("CSBindDashboardNear", resDash.ResultData, provsplit, actsplit);
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Dashboard" });
    }

}
