﻿@page "/404"
<div class="error404 text-center">
    <div class="container-fluid">
        <div class="row">
                @*<div class="col-md-4 mr-auto mt-5 text-md-left text-center">
                    <a href="index.html" class="ml-md-5">
                        <img alt="image-404" src="assets/img/90x90.jpg" class="theme-logo">
                    </a>
                </div>*@
            </div>
    </div>
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">404</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text mb-4 mt-1">The page you requested was not found!</p>
            <a href="/dashboard" class="btn btn-primary mt-5" style="width:200px !important">Back to Dashboard</a>
        </div>
    </div>
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}