﻿@layout LoginLayout;
@page "/resetpassword"
@page "/resetpassword/{id}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;

@{
    if (retID == "error")
    {
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="error404 text-center">
                        <div class="container-fluid">
                            <div class="row">
                            </div>
                        </div>
                        <div class="container-fluid error-content">
                            <div class="">
                                @*<h1 class="error-number">404</h1>*@
                                <p class="mini-text">Link Expired!</p>
                                <p class="error-text mb-4 mt-1">Your forgot password link has expired. Please try again!</p>
                                <a href="/" class="btn btn-primary mt-5" style="width:200px !important">Back to Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-image">
                        <div class="l-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Reset Password</h1>
                        <form class="text-left">
                            <EditForm Model=@cp OnValidSubmit=@ResetPass OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <div class="form">
                                    <div id="email-field" class="field-wrapper input">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-lock">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        <input @bind="cp.newpassword" id="email" name="email" type="password" placeholder="New Password">
                                        <ValidationMessage For="@(() => cp.newpassword)" />
                                    </div>
                                    <div id="email-field" class="field-wrapper input">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-lock">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        <input @bind="cp.confirmpassword" id="email" name="email" type="password" placeholder="Confirm Password">
                                        <ValidationMessage For="@(() => cp.confirmpassword)" />
                                        @{
                                            if (showComapreMsg)
                                            {
                                                <div class="validation-message">Password and Confirm password not match.</div>
                                            }
                                        }
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <a href="/" style="width:200px !important; color:blue;">Go Back to Login</a>
                                        </div>
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-primary" value="">Submit</button>
                                        </div>
                                    </div>
                                    @*<div class="field-wrapper">
                                        <a href="/" class="btn btn-primary mt-5" style="width:200px !important">Back to Login</a>
                                    </div>*@
                                </div>
                            </EditForm>
                        </form>
                        <p class="terms-conditions">© 2020 Nearby Experiences. All Rights Reserved. </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public string id { get; set; }
    protected string retID = "";
    bool showComapreMsg = false;
    ChangePasswordData cp;
    LogIn _LogIn;
    ProfileData ad;

    protected override void OnInitialized()
    {
        _LogIn = new LogIn(iConfig, httpContextAccessor, _IAdminMgr);
        cp = new ChangePasswordData();
        cp.oldpassword = "123465";
        retID = _LogIn.ForgotPass(id);
    }

    protected void ResetPass()
    {
        ResultObject<string> resData = new ResultObject<string>();
        resData = _LogIn.updateresetpass("resetpasswordUpdate", cp.confirmpassword, id, id);
        if (resData.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Your Password  reset successfully.");
            navigationmanager.NavigateTo(" ");
            //JSRuntime.InvokeAsync<string>(
            //     "clientJsMethods.RedirectTo", "/");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        cp = new ChangePasswordData();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected void HandleInvalidSubmit()
    {
        if (cp.newpassword != cp.confirmpassword)
        {
            showComapreMsg = true;
        }
        else
        {
            showComapreMsg = false;
        }
    }
}
