﻿.theme-loader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    top: 0;
    opacity: .5;
}

    .theme-loader .ball-scale {
        left: 50%;
        top: 50%;
        position: absolute;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px
    }

        .theme-loader .ball-scale .contain {
            height: 100%;
            width: 100%
        }

            .theme-loader .ball-scale .contain .ring {
                display: none
            }

                .theme-loader .ball-scale .contain .ring:first-child {
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    padding: 10px;
                    border: 3px solid transparent;
                    border-left-color: #01a9ac;
                    border-right-color: #01a9ac;
                    -webkit-animation: round-rotate 1.5s ease-in-out infinite;
                    animation: round-rotate 1.5s ease-in-out infinite
                }

                    .theme-loader .ball-scale .contain .ring:first-child .frame {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        border-left-color: #0ac282;
                        border-right-color: #0ac282;
                        -webkit-animation: round-rotate 1.5s ease-in-out infinite;
                        animation: round-rotate 1.5s ease-in-out infinite
                    }

@-webkit-keyframes round-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes round-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.progress {
    height: 1rem
}

    .progress .progress-bar {
        height: 100% !important
    }


.term-btn-new {
    position: absolute;
    z-index: 999;
    right: 25px;
    top: 15px;
}

.validation-message {
    color: red;
}

.ui-front {
    z-index: 9999999 !important;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
}

.astick{
    color:red;
}

/*rating star*/

div .stars {
    /*background-image: url(assers/img/footer-logo.svg);*/
    background: url("../assets/img/stars.png") repeat-x 0 0;
    width: 150px;
    /*margin: 0 auto;*/
}

    div .stars input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        div .stars input[type="radio"].star-5:checked ~ span {
            width: 100%;
        }

        div .stars input[type="radio"].star-4:checked ~ span {
            width: 80%;
        }

        div .stars input[type="radio"].star-3:checked ~ span {
            width: 60%;
        }

        div .stars input[type="radio"].star-2:checked ~ span {
            width: 40%;
        }

        div .stars input[type="radio"].star-1:checked ~ span {
            width: 20%;
        }

    div .stars label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        div .stars label:hover ~ span {
            background-position: 0 -30px;
        }

        div .stars label.star-5:hover ~ span {
            width: 100% !important;
        }

        div .stars label.star-4:hover ~ span {
            width: 80% !important;
        }

        div .stars label.star-3:hover ~ span {
            width: 60% !important;
        }

        div .stars label.star-2:hover ~ span {
            width: 40% !important;
        }

        div .stars label.star-1:hover ~ span {
            width: 20% !important;
        }

    div .stars span {
        display: block;
        width: 0;
        position: relative;
        top: 0;
        left: 0;
        height: 30px;
        background: url("../assets/img/stars.png") repeat-x 0 -60px;
        -webkit-transition: -webkit-width 0.5s;
        -moz-transition: -moz-width 0.5s;
        -ms-transition: -ms-width 0.5s;
        -o-transition: -o-width 0.5s;
        transition: width 0.5s;
    }

button.btn.add::before {
    font-family: fontAwesome;
    content: "\f067\00a0";
}

input[type=file] {
    color: transparent;
}

@media (min-width: 320px) and (max-width: 767px) {
    .notification-btn {
        position: absolute;
        right: 30px !important;
        top: 20px !important;
        z-index: 99;
    }
    div.dataTables_wrapper div.dataTables_filter{
        text-align:left !important;
    }
        div.dataTables_wrapper div.dataTables_filter input {
            width: 150px;
            position: relative;
            left: -22px;
        }
        div.dataTables_wrapper div.dataTables_filter svg {
            position: absolute;
            top: 15px;
            right: 30px !important;
            width: 20px;
            color: #d3d3d3;
            z-index: 999;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-expand-sm .navbar-item .nav-link {
        padding: 4.24px 5px !important;
        font-size: 13px !important;
    }
}
    /*.sortablee ui-sortable tr:hover {
    background-color: #0094ff;
    color: #fff;
}*/