﻿
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @{
            JSRuntime.InvokeVoidAsync("CSLoaderFadeInFromApp");
        }
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            @*<p>Sorry, there's nothing at this address.</p>*@
            <NearByExperiences.Pages.Page404/>
        </LayoutView>
    </NotFound>
</Router>
