﻿@using System;
@using System.Drawing;
@using System.IO;
@inject IJSRuntime JSRuntime

<div class="modal fade bd-example-modal-lg" id="cropModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Crop Image</h5>
                @*<button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>*@
            </div>
            <div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-6">
                            <table>
                                <tr>
                                    <td id="tdForImg">
                                        @*<img id="imgUpload" style="max-height:450px !important; max-width:400px !important;" class="imgUploadCrop" src="@filePath" />*@
                                        <img id="imgUpload" class="imgUploadCrop" style="display: none" src="@filePath" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="valForX" />
                                        <input type="hidden" id="valForY" />
                                        <input type="hidden" id="valForW" />
                                        <input type="hidden" id="valForH" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" @onclick="btnCrop_Click" id="btnCrop" class="btn btn-floating btn-primary float-right btn-sm mt-1"><i class="fa fa-plus"></i></button>*@
                    <button type="button" @onclick="OnConfirm" id="OnConfirm1" class="btn btn-floating btn-primary float-center btn-sm mt-1">Crop and Save</button>
                    @*<button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>*@
                </div>
            </div>
        </div>
    </div>
</div>


@using SD = System.Drawing;
@using System.Text;
@code{
    [Parameter]
    public string imgpath { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    public string filePath = "";
    string cropFileName = "";
    string cropFilePath = "";


    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string startupPath = System.IO.Directory.GetCurrentDirectory();
        filePath = Path.Combine("images", imgpath);
    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("imgupload");
        JSRuntime.InvokeVoidAsync("CSShowModel", "cropModel");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    //void btnCrop_Click()
    //{
    //    string startupPath = System.IO.Directory.GetCurrentDirectory();
    //    filePath = Path.Combine(startupPath, "wwwroot\\images", imgpath);
    //    if (File.Exists(filePath))
    //    {
    //        GetCropVal(filePath);

    //    }
    //}
    //async void GetCropVal(string filePath)
    //{
    //    string range = await JSRuntime.InvokeAsync<string>("selectCropRange");
    //    string[] res = range.Split(",");
    //    System.Drawing.Image orgImg = System.Drawing.Image.FromFile(filePath);

    //    Rectangle CropArea = new Rectangle(Convert.ToInt32(res[0]), Convert.ToInt32(res[1]), Convert.ToInt32(res[2]), Convert.ToInt32(res[3]));
    //    //Rectangle CropArea = new Rectangle(Convert.ToInt32(1594), Convert.ToInt32(1343), Convert.ToInt32(2833), Convert.ToInt32(925));
    //    try
    //    {

    //        DateTime now = DateTime.Now;
    //        Bitmap bitMap = new Bitmap(CropArea.Width, CropArea.Height, orgImg.PixelFormat);
    //        using (Graphics g = Graphics.FromImage(bitMap))
    //        {
    //            g.DrawImage(orgImg, new Rectangle(0, 0, bitMap.Width, bitMap.Height), CropArea, GraphicsUnit.Pixel);
    //        }
    //        cropFileName = now.Second.ToString() + imgpath;
    //        string startupPath = System.IO.Directory.GetCurrentDirectory();
    //        //File.Delete(Path.Combine(startupPath, "wwwroot\\images", imgpath));
    //        cropFilePath = Path.Combine(startupPath, "wwwroot\\images", cropFileName);
    //        bitMap.Save(cropFilePath);
    //    }
    //    catch (Exception ex)
    //    {

    //    }
    //}
}
