﻿@using System.ComponentModel.DataAnnotations;

<div class="modal fade bd-example-modal-lg" id="tagModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">@popuptype Tag</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@targetMaster" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-6">
                            <label for="cname">Tag Name<span class="astick">*</span></label>
                            <InputText maxlength="1000" @bind-Value="@targetMaster.tags_name" type="text" class="form-control" id="sname" placeholder="Tag Name" />
                            @*<input  maxlength="1000" @bind="@targetMaster.tags_name" type="text" class="form-control" id="sname" placeholder="Tag Name" />*@
                            <ValidationMessage For="@(() => targetMaster.tags_name)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@code {
    [Parameter] public string popuptype { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public TagsMasterData targetMaster { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "tagModel");
    }

    protected void HandleInvalidSubmit()
    {
    }
}
