﻿@using System.ComponentModel.DataAnnotations;
@*@inject IJSRuntime JSRuntime;*@
@inject NearByExperiences.FileUpload.IFileUploadData fileUpload;
<div class="modal fade bd-example-modal-lg" id="testmonialModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">@popuptype Testmonial</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-4">
                            <label for="cname">Testimonial Name<span class="astick">*</span></label>
                            <InputText maxlength="1000" @bind-Value="@model.testimonial_name" type="text" class="form-control" id="sname" placeholder="Testimonial Name" />
                            @*<input  maxlength="1000" @bind="@model.testimonial_name" type="text" class="form-control" id="sname" placeholder="Testimonial Name" />*@
                            <ValidationMessage For="@(() => model.testimonial_name)" />
                        </div>
                        <div class="form-group mb-4 col-lg-4">
                            <label for="cname">Designation<span class="astick">*</span></label>
                            <InputText maxlength="1000" @bind-Value="@model.designation" type="text" class="form-control" id="sname" placeholder="Designation" />
                            @*<input  maxlength="1000" @bind="@model.designation" type="text" class="form-control" id="sname" placeholder="Designation" />*@
                            <ValidationMessage For="@(() => model.designation)" />
                        </div>
                        <div class="form-group mb-4 col-lg-4">
                            <label for="pict1">Profile Picture</label>
                            <InputFile OnChange="HandleFileSelected" />
                            @if (model.testimonial_image != null)
                            {
                                <img src="images/thumb/@model.testimonial_image" style="height:80px; max-width:150px; margin-top:5px;" alt="imgAvtar" />
                            }
                            <label for="imgg">@model.testimonial_image</label>
                            <ValidationMessage For="@(() => model.testimonial_image)" />
                        </div>
                        <div class="form-group mb-4 col-lg-12">
                            <label for="cname">Testimonial Description<span class="astick">*</span></label>
                            <InputTextArea maxlength="1000" @bind-Value="@model.testimonial_description" type="text" class="form-control" id="sname" placeholder="Testimonial Description" />
                            @*<textarea maxlength="1000"  @bind="@model.testimonial_description" type="text" class="form-control" id="sname" placeholder="Testimonial Description" />*@
                            <ValidationMessage For="@(() => model.testimonial_description)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@code {
    [Parameter] public string popuptype { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public TestimonialData model { get; set; }


    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "testmonialModel");
    }


    IFileListEntry file;
    async Task HandleFileSelected(IFileListEntry[] files)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        file = files.FirstOrDefault();
        if (file != null)
        {
            if (file.Type.Contains("image"))
            {
                //await _fileService.UploadAsync(file);
                await fileUpload.UploadAsync(file);
                model.testimonial_image = file.Name;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Please Upload Image File");
            }
        }
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");

    }

    protected void HandleInvalidSubmit()
    {
    }
}
